<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="headder">
<div id="menu" class="menu">
<ul>
<li ><a href="#">F-Assured</a></li>
<li><a href="#">Advertise</a></li>
<li><a href="#">Gift Card</a></li>
<li><a href="#">customer care</a></li>
<li><a href="#">Track order</a></li>
<li><a href="#">sign up</a></li>
<li><a href="#">sign in</a></li>
</ul>
</div>

<input type="text" ng-model="searchBox" placeholder="Search for Product" class="textBox">
<div align="right">
<div class="cart">

</div>
</div>

 <div id="menu" class="mainMenu">
		<ul>
			<li class=""><a href="Electronics.html">ELECTRONICS</a>
				<ul class="sub-menu">
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Laptop</a></li>
					<li><a href="#">TV</a></li>
					<li><a href="#">Tablet</a></li>
					<li><a href="#">Camera</a></li>
					<li><a href="About.html#how-we-work">wearables</a></li>
				</ul></li>
			<li class=""><a href="#">MEN</a>
				<ul class="sub-menu">
					<li><a href="#">FootWear</a></li>
					<li><a href="#">Clothing</a></li>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Accessories</a></li>
					<li><a href="#">Men's grooming</a></li>
				</ul></li>
			<li class=""><a href="#">Women</a>
				<ul class="sub-menu">
					<li><a href="#">clothing</a></li>
					<li><a href="#">Ethnic wear</a></li>
					<li><a href="#">western wear</a></li>
					<li><a href="#">FootWear</a></li>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Jewellery</a></li>
				</ul></li>
			<li class=""><a href="#">Baby & kids</a>
				<ul class="sub-menu">
					<li><a href="#">kids clothing</a></li>
					<li><a href="#">kids footWear</a></li>
					<li><a href="#">School suppliers</a></li>
					<li><a href="#">Toy</a></li>
					<li><a href="#">Baby care</a></li>
				</ul></li>
			<li class=""><a href="#">Home & furniture</a>
				<ul class="sub-menu">
					<li><a href="#">kitchen & dining</a></li>
					<li><a href="#"></a>Dining & serving</li>
					<li><a href="#">kitchen storage</a></li>
					<li><a href="#">furniture</a></li>
					<li><a href="#">Home Decore</a></li>
				</ul></li>
				<li class=""><a href="#">Books & more</a>
				<ul class="sub-menu">
					<li><a href="#">Books</a></li>
					<li><a href="#"></a>stationary</li>
					<li><a href="#">Gaming</a></li>
					<li><a href="#">sports</a></li>
					<li><a href="#">for your bike</a></li>
				</ul></li>
		</ul>
		
	</div>
 
</div>
<!-- <div ng-controller="searchCtrl">

<ul>
    <li ng-repeat="data in searchInfo.products | filter:searchBox">
   <h3>{{data.title}}</h3>
   {{data.image}}
    <h3>{{data.value}}</h3>
    </li>
</ul>
<p ng-hide="searchInfo"></p>
</div> -->

<h2>Intrend Women</h2>
<div class="women">
	<p>Bid goodbye to those dull-looking layers of clothing and get all summer ready with our collection of in-trend summer style. Whether you’re looking for summery footwear or clothes that keep you comfortable, we have everything to keep you in trend this summer.</p>
</div>
</body>
</html>