
<marquee class="Hurru-up">Hurry Up!!!!!!! Just Two days are remaining </marquee>
<div>

	<div ng-controller="searchCtrl">

		<!-- <ul>
			<li ng-repeat="data in searchInfo.products | filter:searchBox">
				<h3>{{data.title}}</h3> {{data.image}} <h3>{{data.value}}</h3>
			</li>
		</ul> -->
		<p ng-hide="searchInfo"></p>
	</div>
</div>
<div ng-controller="cartCtrl">
<!-- <div class="images"> -->
	<ul class="display-information">
	
		<li ng-repeat="product in products">
			    <div class="display-product-info">
				<img class="img-box" alt="{{product.title}}" ng-src="{{product.image}}">
				<!-- <figcaption> -->
					<h4 class="product-title">{{product.title}}</h4>
					<h4 class="offer-price">Offer:{{product.offer}}$</h4>
					<h4 class="original-price">Price:{{product.price}}$</h4>
					<!-- <button ng-click="addToCart(product);">Add to cart</button> -->
				<!-- </figcaption> -->
			    </div>
		    </li>
	</ul>
	<!-- </div> -->
	<div ng-if="cart.length" class="shopping-cart">
		<h3>{{cart.length}} items in cart, {{getCartPrice()}},$</h3>
		<span class="cart-item th radius" ng-repeat="product in cart">
			<img alt="" ng-src="{{product.image}}" title="{{product.title}}">
			<span class="badge" ng-show="product.quantity  >1">
				x{{product.quantity}} </span>
		</span>
		<button ng-click="checkout();">checkout</button>
	</div>
</div>

      