<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login here</title>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
 <script src="js/angular-spinkit.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- TODO Add angular-spinkit.min.css to git repository and uncomment link tag below-->
 <!-- <link rel="stylesheet" href="angular-spinkit.min.css"> -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="retailApp">

		<div class="header">
<div id="menu" class="menu">
<ul>
<li ><a href="#">F-Assured</a></li>
<li><a href="#">Advertise</a></li>
<li><a href="#">Gift Card</a></li>
<li><a href="#">Customer Care</a></li>
<li><a href="#">Track order</a></li>
<li><a href="#">Sign Up</a></li>
<li ng-controller="displayLoginCtrl"><a href="" ng-click="displayLogin()">Sign In</a></li>
</ul>
</div>
<div id="header-wrapper">
		<div class="app-header">
			<div class="app-icon"></div>
			<h1>Retailer</h1>
			<input type="text" ng-model="searchBox" placeholder="Search for Product" class="textBox">
		</div>


<div align="right">
<div class="cart">

</div>
</div>


 <div id="menu" class="mainMenu">
		<ul>
			<li class=""><a href="Electronics.html">ELECTRONICS</a>
				<ul class="sub-menu">
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Laptop</a></li>
					<li><a href="#">TV</a></li>
					<li><a href="#">Tablet</a></li>
					<li><a href="#">Camera</a></li>
					<li><a href="About.html#how-we-work">wearables</a></li>
				</ul></li>
			<li class=""><a href="Men.html">MEN</a>
				<ul class="sub-menu">
					<li><a href="#">FootWear</a></li>
					<li><a href="#">Clothing</a></li>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Accessories</a></li>
					<li><a href="#">Men's grooming</a></li>
				</ul></li>
			<li class=""><a href="women.html">Women</a>
				<ul class="sub-menu">
					<li><a href="#">Clothing</a></li>
					<li><a href="#">Ethnic Wear</a></li>
					<li><a href="#">Western Wear</a></li>
					<li><a href="#">FootWear</a></li>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Jewellery</a></li>
				</ul></li>
			<li class=""><a href="#">Baby & kids</a>
				<ul class="sub-menu">
					<li><a href="#">kids Clothing</a></li>
					<li><a href="#">kids FootWear</a></li>
					<li><a href="#">School suppliers</a></li>
					<li><a href="#">Toy</a></li>
					<li><a href="#">Baby care</a></li>
				</ul></li>
			<li class=""><a href="#">Home & Furniture</a>
				<ul class="sub-menu">
					<li><a href="#">Kitchen & Dining</a></li>
					<li><a href="#">Dining & serving</a></li>
					<li><a href="#">kitchen storage</a></li>
					<li><a href="#">Furniture</a></li>
					<li><a href="#">Home Decor</a></li>
				</ul></li>
				<li class=""><a href="#">Books & more</a>
				<ul class="sub-menu">
					<li><a href="#">Books</a></li>
					<li><a href="#">Stationary</a></li>
					<li><a href="#">Gaming</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#">For your Bike</a></li>
				</ul></li>
		</ul>
		
	</div>
 
</div>
	</div>
<div ng-view></div>

<div ng-controller="loginCtrl">

<div id="pop" ng-show="isLoginVisible">
<div class="login-container"><div class="sideDiv">

</div><!--  
 --><form class="login-form" name="myForm"  novalidate>
<fieldset>
<div align="center">
<div class="loginForm">
 <div class="form-group" ng-class="{ 'has-error' : myForm.userName.$invalid && !myForm.userName.$pristine }">

<input type="text" id="userName" name="userName" placeholder="Enetr Email/User Name"  ng-model="username" class="text"  required><br>
</div>
 <!-- <span class="text-error" data-ng-show="myForm.submitted && myForm.userName.$invalid">username required</span><br/> -->

<div class="password-container">
<input type="password" id="Password" name="Password" placeholder="Enter Password"  ng-model="password" class="text" required>
<span class="forgot"><a href="" class="forgotLink">Forgot?</a></span>
</div>
 <!-- <span class="text-error" data-ng-show="myForm.submitted && myForm.Password.$invalid">First Name is required</span><br/> -->

<label style="color: red;">{{errorMsg}}</label>

<!-- <div class="buttons"> -->
<button type="button" ng-click="login()"  class="btn btn-primary btn-lg btn-block">Login</button>
<!-- <button type="button"  ng-disabled="myForm.$invalid" class="btn btn-primary">Cancel</button> -->
<circle-spinner ng-show="showSpinner"></circle-spinner>
<!-- <a href="signUp.html"><button type="button" class="button1"  ng-click="signUp()" ng-disabled="myForm.$invalid" class="btn btn-primary">Sign-Up</button></a> -->
<!-- </div> -->
<!-- <a href="signUp.html"  ng-click="signUp()">New User? Sign-Up</a> -->
<button class="signBtn">
<span>New user? Sign in</span>
</button>
<div class="accountRecover">
<span>
 "We no longer support login via Social accounts. To recover your old accounts please "
</span>
</div>
</div>
</div>

</fieldset>
</form>
</div>
</div>
</div>





<div id="footer">
<ul>
    <li><a href="#">sign up</a></li>
    <li><a href="#">log in</a></li>
    <li><a href="#">Payment</a></li>
    <li><a href="#">shipping</a></li>
    <li><a href="#">save card</a></li>
    <li><a href="#">Gift Card</a></li>
    <li><a href="#">contact us</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">online shopping</a></li>
    <li><a href="#">cash back</a></li>
    <li><a href="#">Home delivery</a></li>
    <li><a href="#">Discount</a></li>
    <li><a href="#">offer</a></li>
     <li><a href="#">contact</a></li>
</ul>
</div>

</body>
</html>
