<div id="header-wrapper">
		<div class="app-header">
			<h1>Retailer</h1>
		</div>
		
	</div>
<div ng-controller="loginCtrl">

<div class="loginForm">
<form action="/" id="myLogin">
<fieldset>
User Name:<input type="text" id="username" placeholder="Enetr User name here" class="box" ng-model="username"><br>
<br>
 Password:-<input type="password" id="password" placeholder="Enter Password here" class="box" ng-model="password">
<br><br>
<label style="color: red;">{{errorMsg}}</label>
<br>
<div class="buttons">
<button type="button" ng-click="login()">Login</button>
<button type="button">Cancel</button>
</div>
</fieldset>
</form>
<button type="button" class="button1"  ng-click="signUp()">Sign-Up</button>
</div>

  
</div>


<!-- <div ng-controller="loginCtrl">

<div class="loginForm">
<form name="userForm">
user Name:<input type="text" id="username" placeholder="enetr username here" ng-model="user.username" class="box" name="username" ng-minlength="4" ng-maxlength="9" required><br>
<br>
 password:-<input type="password" id="password" placeholder="eneter password here" ng-model="password" class="box">
<br>
<button type="button"  class="buttons" ng-login="submitForm(userForm.$valid)" novalidate>login</button>
<button type="button" class="buttons">cancel</button>
</form>
<button type="button" class="button1" >sign-up</button>
</div>
</div> -->
<div>
			 <img
				class="main-image-box" src="image/RetailApp.jpg"
				alt="Trolltunga Norway" >
			
</div>
<div id="footer">
<ul>
    <li><a href="#">sign up</a></li>
    <li><a href="#">log in</a></li>
    <li><a href="#">Payment</a></li>
    <li><a href="#">shipping</a></li>
    <li><a href="#">save card</a></li>
    <li><a href="#">Gift Card</a></li>
    <li><a href="#">contact us</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">online shopping</a></li>
    <li><a href="#">cash back</a></li>
    <li><a href="#">Home delivery</a></li>
    <li><a href="#">Discount</a></li>
    <li><a href="#">offer</a></li>
</ul>
</div>

