
<div ng-controller="productDetailsCtrl">
   <div class="display-product-details">
   <div class="side-images">
   <div class="two-wedges-img">
   <img alt="" src="image/black-a-remson-india-39-original-imaeff5hch5hv4zz.jpeg" width="70px" height="70px">
   </div>
      <div class="original-img">
        <img alt="" src="image/original-wedges.jpeg" width="70px" height="70px">
      </div>
      <div class="side-img">
         <img alt="" src="image/side-wedges.jpeg" width="70px" height="70px">
      </div>
      <div class="opp-img">
         <img alt="" src="image/opp-wedges.jpeg" width="70px" height="70px">
      </div>
   </div>
   <div class="product-images">
      <div class="display-product-img">
   
       <img alt="" src="image/black-a-remson-india-39-original-imaeff5hch5hv4zz.jpeg" class="product-img" >
       </div>
       <div class="display-button">
          <button type="button" class="add-cart">ADD TO CART</button>
          <button type="button" class="buy-now">BUY NOW</button>
       </div>
       
   </div>
   
      <div class="products-details-data">
   <div align="justify">
        <div class="product-info">
           <div class= "product-name">
             <h1> Remson India Black gola Women Black Wedges</h1>
           </div>
           <div class="rating-views">
           <div class="star-rating">
               <a href="#">
                  3.5 *
               </a>
           </div>
           <div class="rating-and-views">
              
                 <a href="#">611 rating</a>
                  <span>&</span>   
                  <a href="#">68 reviews</a>          
              
           </div>
           </div>
        </div>
        <div class="price-product">
            <div class="details-original-price"><h3>Rs 279</h3> </div>
            <div class="details-cut-price">Rs 499</div>
            <div class="details-offer-price">41% off</div>
        </div>
        
   <!-- <div class="details-banks-offer">
       <div class="bank-offer">Offer</div>
       <div class="extra-off">Extra 15% off* with digibank by DBS | Min trxn Rs. 650 | Max Disc. Rs. 100</div>
       <div class="terms-condition">T&C</div>
   </div>   -->    
   
   <div class="EMI-details">
       <div class="emi-plans">
          <img alt="" src="image/ic_action_action_perm_contact_cal.png" height="28px" width="28px">
          <div class="emi-info">EMI from Rs 1,412/month</div>
          <a href="" class="views-plans">View Plan</a>
       </div>
       <div class="buy-exchange">
         <div class="emi-plans">
          <img alt="" src="image/ic_action_action_swap_vert_circle.png" height="28px" width="28px">
          <div class="emi-info">Get upto Rs. 20.000 off on exchange</div>
          <a href="" class="views-plans">Buy witch Exchange </a>
       </div>
       </div>
       <div class="special-price">
          <div class="emi-plans">
          <img alt="" src="image/ic_launcher.png" height="28px" width="28px">
          <div class="emi-info">Special PriceFlat Rs.7,000 Off on Apple iPhone 6</div>
          <a href="" class="views-plans"> T&C </a>
       </div>
       </div>
       
       <div class="bank-offer">
          <div class="emi-plans">
          <img alt="" src="image/ic_launcher.png" height="28px" width="28px">
          <div class="emi-info">Bank OfferExtra 15% Cashback* with Citi Credit and Debit Cards</div>
          <a href="" class="views-plans"> T&C </a>
       </div>
       </div>
   </div>  
        <div class="delivery-report">
             <div class="delivery">Delivery</div>
             <div class="delivery-pincod">
                 <form action="">
                     <input type="text" placeholder="Enter Delivery Pincode" class="deliveryText" style="border: none;">
                     <span class="check">check</span>
                     
                 </form>    
                     
             </div>
             <a href="" class="pincode-delivery-details">
                     Enter pincode for delivery details
                 </a>    
        </div>
        <div class="product-size">
        <div class="size-Euro">Size-Euro</div>
        <div class="Page navigation" style="margin-left: 5%">
  <ul class="pagination">
    <li>
      
    </li>
    <li><a href="#">35</a></li>
    <li><a href="#">36</a></li>
    <li><a href="#">37</a></li>
    <li><a href="#">38</a></li>
    <li><a href="#">39</a></li>
  </ul>
</div>
        </div>
        <div class="product-color-storage-info">
        <div class="product-color">
              <div class="color">color</div>
              <div class="display-colors-imgs">
              <img alt="" src="image/Apple-space-grey-color.jpeg" width="80px" height="60px">
              <img alt="" src="image/iphone-pink-color.jpg" width="80px" height="60px">
              </div>
        </div>
           <!-- <div class="storage">
           <div class="color">Storage</div>
           <div class="display-storage-buttons">
              <button type="button" class="16GB-storage">16 GB</button>
              <button type="button" class="64GB-storage">64 GB</button>
           </div>
           </div> -->
        
        </div>
        <div class="products-list">
        <div class="products-feature">
            <div class="feature">
                Feature            
            </div>
            <div class="feature-list">
               <ul>
                   <li>Color:Black</li>
                   <li>Wear:Casual</li>
                   <li>Material:Satin</li>
                   <li>Heel Height:2.5 inch</li>
                   <li>Leather/Non-Leather:Non-Leather</li>
               </ul>
            </div>
            </div>
            <div class="product-services">
                  <div class="services">Services</div>
                  <div class="services-list">
                      <ul>
                          <li>Cash on Delivery available</li>
                          <li>30 days Exchange Policy</li>
                      </ul>
                  </div>
            </div>
        </div>
        <div class="seller-spring">
           <div class="seller">Seller</div>
           <div class="springgirl">Springgirls(4)</div>
        </div>
        
        <div class="product-description">
           <div class="description">Description</div>
           <div class="description-info">
           
Store more and enjoy more, without using as much storage space with the Apple iPhone 6.</div>
        </div>
        
        <div class="product-specification">
           <div class="specification">Specification</div>
           <div class="general-details">
              <div class="general">General</div>
              <div class="type-type-for-flats">
                <div class="type">Type</div>
                <div class="wedges">Wedges</div>
                <div class="product-slip-type">
                <div class="types-for-flats">Types for Flats</div>
                <div class="slip-on">Slip-on</div>
                </div>
              </div>
           </div>
           <div class="product-details">
              <div class="pro-details">Product Details</div>
              <div class="insole-material">Insole Material</div>
              <div class="rubber">Rubber</div>
           </div>
           
        </div>
        
        <div class="read-more">
               <a href="" class="read-more-data">Read More</a>
           </div>
        
        <div class="similar-products">
         <h4 class="similarProduct">Similar products</h4>
            <div class="display-similar-product-img1">
               <img alt="" src="image/Do-bhai-women-black-wedges.jpeg" width="150px" height="120px;">
               <h5>Black Wedges</h5>
               <a href="" class="img-rating">3.5*</a>
            </div>
            <div class="display-similar-product-img2">
              <img alt="" src="image/grey-chocolate-gola-1-do-bhai-38-original-imaejtc4pgfwgs6c.jpeg" width="150" height="120">
              <h5>White josmo Girls</h5>
              <a href="" class="img-rating">4.2*</a>
            </div>
            <div class="display-similar-product-img3">
              <img alt="" src="image/remson-india-women-black-wedges.jpeg" width="150" height="120">
              <h5>Black wedges Indian Women</h5>
              <a href="" class="img-rating">3.1*</a>
            </div>
        </div>
       <!--  <div class="star-rating">
          <div>2.5*</div>
        </div> -->
       <div class="payment-Authantic">
          <img alt="" src="image/ic_action_action_verified_user.png" class="payment-verified">
          <div class="authantic">
          Safe and Secure Payments. Easy returns. 100% Authentic products
          </div>
          <div class="view-all-reviews">
          <a href="" class="view-review" style="text-decoration: none;">View all reviews</a>
          <div class="added-symobol">
          
          <img alt="" src="image/ic_action_content_add.png" width="20px" height="20px">
          
          </div>
          </div>
       </div>
   </div>
   </div>
   </div>
   
   <div class="product-container-main">
<div class="product-header">
<h3>Similar Products</h3>
</div>
<div class="arrow left"><input type="button" value="&#10094" onmousedown="scrollSimilarProduct('MySimilarProduct', 1)" onmouseup="clearTimeout(timer1)" /></div>
<div class="display-scroll" id="MySimilarProduct">
	<ul class="display-information">
	
		<li ng-repeat="product in similarProducts" class="product-item">
			    <div class="display-product-info">
				<img class="img-box" alt="{{product.title}}" ng-src="{{product.image}}" >
				<!-- <figcaption> -->
					<h4 class="product-title" style="font-weight: bold;">{{product.title}}</h4>
					<h4 class="product-offer-price">{{product.price}}</h4>
					<a href="" class="rating-of-product" style="text-decoration: none;">Rating{{product.offer}}*</a>
					<!-- <button ng-click="addToCart(product);">Add to cart</button> -->
				<!-- </figcaption> -->
			    </div>
		    </li>
	</ul>
	</div>
	<div class="arrow right"><input type="button" value="&#10095" onmousedown="scrollSimilarProduct('MySimilarProduct', -3)" onmouseup="clearTimeout(timer1)"></div>
	</div>
   
   </div>
