@CHARSET "ISO-8859-1";
.product-name h1
{
	font-size: 15px;
	font-weight: inherit;
	
}
.star-rating
{
	display: inline-block;
} 

.star-rating a
{
	text-decoration: none;
	background-color: #16be48;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    font-weight: 500;
    padding-right: 2px;
    padding-left: 2px;
    
}
.rating-and-views
{
	display: inline-block;
	padding-left: 8px;
    font-weight: 500;
    color: #878787;
}
.rating-and-views a
{
	text-decoration: none;
	font-weight: 500;
    color: #878787;
}
.details-original-price
{
	display: inline-block;
}
.details-cut-price
{
	display: inline-block;
	font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    text-decoration: line-through;
}
.details-offer-price
{
	display: inline-block;
	margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #16be48;
    vertical-align: middle;
}
.bank-offer
{
     color: #212121;
    font-weight: 500;
    padding-right: 4px;
    display: inline-block;
}
.extra-off
{
	display: inline-block;
}
.terms-condition
{
	display: inline-block;
	color: #2874f0;
    font-weight: 500;
    cursor: pointer;
}
.delivery
{
	color: #878787;
	display: inline-block;
}
.delivery-pincod
{
	display: inline-block;
	margin-left: 2%;
	font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
}