@CHARSET "ISO-8859-1";
/* body
{
	background-color: #c0c0c0;
	padding-top:30px; 
} */
.header
{
	background: #2874f0;
}
.menu
{
	text-align: right;
	margin-top: 5px;
	width: 100%;
	
}
.menu ul
{
	padding: 0px;
	margin: 0px;
}
.menu ul a
{
	text-decoration: none;
	color: white;
	
}
.menu ul li
{
	display: inline-block;
	text-decoration: none;
	width: 8%;
    text-align: center;
    padding: 5px 0px;
}
.textBox
{
	border: 1px solid #999;
	outline: 0;
	height: 50px;
	background-repeat: no-repeat; 
	font-size: 15px;
	margin-top: 7px;
	padding: 0px 15px;
    width: 100%;
    color: black;
}
.mainMenu
{
	margin-left:5%;
	margin-right:5%;
	display: inline-block;
	margin-top: 5px;
	width: 95%;
}
.mainMenu ul {
	list-style: none;
	text-align: center;
	margin-bottom: 0px;
	padding: 0;
	z-index: 500;
}
.mainMenu ul li {
	/* background-color: #03A9F4; */
	/* border-bottom: 1px solid #c0c0c0; */
	width: 15%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
	position: relative;
}

.sub-menu{
	background: white;
}
.sub-menu li {
	width: 100% !important;
}
.mainMenu ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.mainMenu ul.sub-menu li a {
	text-decoration: none;
    color: #cccccc;
    display: block;
    text-align: center;
}

.mainMenu ul li a:hover {
	background-color: #ffffff;
	color: #1F729A;
}

.mainMenu ul ul {
	position: absolute;
	display: none;
}

.mainMenu ul li:hover>ul {
	display: block;
}
.sub-menu ul li a
{
	color: black;
}

.app-header {
	padding:10px;
	border-bottom: 1px solid #c0c0c0;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: #2874f0;
	display: table;
    width: 100%;
    height: 60px;
}

.app-header h1
{
	text-align: center;
	color: white;
	font-size: 40px;
	margin: 0px;
	padding: 0px;
	display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.app-icon{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: white;
	display: table-cell;
    vertical-align: middle;
}

#footer
{
	background-color: #e4e4e4;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	
}
#footer ul li 
{
	display:inline-block;
	width: 11.11%;
}
#footer ul li a
{
	color: black;
}
/*  .loginForm
{
	margin-left:10%;
	
}  */

/* form {
    border: 3px solid #f1f1f1;
} */
/* input[type=text], input[type=password]
 {
     width: 400px;
     padding: 12px 20px;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 } */
 
  button {
	background-color: #2874f0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	
} 
/* .buttons
{
	 margin-top:5px;
	display: inline-block;
	margin-left: 5%;
	color: white;
	
}  */

.buttons
{
	margin-left: 5%;
	color: white;
	
}
.button1 {
	margin-top: 7px;
	width: 162px;
	height:35px;
	margin-left: 5%;
	padding-bottom:5px;
	padding-top:6px;
	color: white;
	
}
.main-image-box {
	width:800px;
	height:300px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	margin-left: 3%;
}	

.loading { 
	border:1px solid #ddd;
	 padding:20px; 
	 margin:40px 5px;
	  width:80px;
	  }
.contact_us_label {
	width: 19%;
	text-align: right;
}
.contact_us_text {
	width: 40%;
	text-align: left;
}
.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.contact_us_mandatory_text {
	width: 3%;
	text-align: left;
}
.contact_us_text input, textarea {
	border: 1px solid grey;
}
.contact_us_error {
	width: 40%;
}	  
#sub-content {
    padding: 5% 10%;
    background: white;
}

.heading h4
{
	color: blue;
	/* font-size: 17px; */
	font: italic;
	text-align: center;
}
/* .container
{
	
    background: hsla(183, 100%, 42%, 0.26);
} */
.text
{
	width: 700px;
}

.mobile p
{
	font-size: 12px;
}
.footwear p
{
	font-size: 12px;
}
.women p
{
	font-size: 12px;
}

.red {
  border: solid 1px red;
}
.main_div
{
	margin-left: 2%;
	margin-right: 2%;
	
}
.app-header1 {
	padding:5px;
	border-bottom: 1px solid #c0c0c0;
	/* background-image: url("../images/oil.jpg"); */
	/* background-repeat: no-repeat; */
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: #31708f;
}

.app-header1 h1
{
	text-align: center;
	color: white;
	font-size: 40px;
	
}
.sign
{
	margin-left: 30%;
}
#pop
{
	height: 300px;
   width: 470px;
   position: fixed;
   border: 2px solid;
   bottom:50%;
   right: 50%;
   padding: 10px;
   background: #ffffff;
   border-radius:9px;
}
